*{
    margin: 0;
    padding: 0;
    color: #fff;
}
/* body{
    * /* display: flex;
    justify-content: center;
    align-items: center;
}/ */
.container{
    height: 60%;
    width: 60%;
    margin: 400px;
    display: flex;
 
}
.box{
    height: 40vh;
    width: 40vw;
    margin: 20px;
    background-color:greenyellow
   
}
img{
    width: 8vw;
    height: 15vh;
    margin-top: 10px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
h1{
   margin-left:100px;
}
p{
    margin-top: 15px;
    margin-left: 5px;
    padding: 1px;
    font-size: 20px;
}
.icon{
  
   display: flex;
   justify-content:center;
}
.icon i{
    margin-top: 30px;
    margin-right: 10px;
}