@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}
body{
  background-color: rgb(79, 79, 174);
    
}
header{
    /* position: fixed; */
    top: 0;
    right: 0;
    width:100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

 .logo{
    text-decoration: none;
    color: rgb(251, 178, 9);
    font-size: 2.4rem;
    font-weight: 600;
   


}
.navbar ul{
    display: flex;
    list-style: none;

}
.navbar ul a{
    text-decoration: none;
    padding:10px 20px ;
    font-size: 1.5rem;
    color: #fff ;
    font-weight: 600;
   
}
.navbar ul a:hover{
    color: rgb(251, 178, 9);

}
section{
    padding:70px 17%;
}

.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    grid-gap: 1.5rem;
    align-items: center;

}

.home-text h1{
color:rgb(251,178, 10) ;
font-weight: 800;
font-size: 44px;
line-height: 2;

}

.home-img{
   max-width: 100%;
   width: 600px;
   height: auto;

}
.home-text h2{
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    
    margin: 1rem 0 2rem;
}
.home-text a{
    padding: 10px 14px;
    background:rgb(251,178, 10) ;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.home-text a:hover{
    background-color: aliceblue;
    color: rgb(251, 178, 9);

}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.about-img{
    max-width: 100%;
   width: 380px;
   height: auto;
  
  
}
.about-text span{
color:rgb(251,178, 10) ;
font-weight: 600;
font-size: 25px;

}
.about-text h2{
    font-size: 35px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 800;
}
.about-text p{
    line-height: 1.5;
   
    margin:0.8rem 0 1.8rem;
    color: rgb(251, 178, 9);
    font-weight: 500;
} 

.about-text a{
    display: inline-block;
    padding: 10px 14px;
    background: rgb(251, 178, 9);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 8px;
    color: #fff;
    font-size: 22px;
    font-weight: 800px ;
    
   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about-text a:hover{
    background-color: aliceblue;
    color: rgb(251, 178, 9);

}
.menu-text{
    text-align: center;
    margin-top:40px;
    

}
.menu-text span{
    color: rgb(251, 178, 9);
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
}
.menu-text h2{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}
.menu .menu-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
   

}

.menu .menu-container .box{
  width: 100%;
  height: auto;
  text-align: center;
  background-color:rgb(216, 205, 178) ;
  margin: 15px;
  border-radius:15px ;
  -webkit-border-radius:15px ;
  -moz-border-radius:15px ;
  -ms-border-radius:15px ;
  -o-border-radius:15px ;
}
.menu-container .box .box-img{
    padding-top: 20px;
    padding-bottom: 5px;
}
.box{
    position: relative;
}
.box-img img{
width: 60%;
height: 60%;
}
.box h2{
    font-weight: 600;
    line-height: 1.5;
}
.box h3{
    color: #3d3737;
    line-height:2;
   
}
.box span{
    display: inline-block;
    margin-bottom: 25px;
}
.box i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 35px;
    position: absolute;
    right: 0;
    top:0;
    background-color: rgb(219, 178, 17);
    color: #ffffff;
    cursor: pointer;
}
.services .service-text{
    text-align: center;
    margin-top: 80px;
   
}
.services .service-text span{
    color: rgb(251, 178, 9);
    font-size: 22px;
    font-weight: 400;
  line-height: 2;
}
.services .service-text h2{
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}
.services .service-text{
    text-align: center;
}
.services .service-text span{
    font-weight: 500;

}
.services .service-text h2{
    font-weight: 700;

}
.service-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.s-box{
    text-align: center;
    padding: 20px 30px;
}
.s-box img{
    width: 50%;
   
}
.s-box h3{
    color: rgb(251, 178, 9);
    font-weight: 600;
    line-height: 2;
}
.s-box  p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}
.cta{
    
    background:#feeee7 ;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.cta a{
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    background-color: rgb(251,178, 10);
    width: 12%;
    height:50px;
    padding: 10px 5px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cta a:hover{
    background-color:rgb(161, 41, 165) ;
    color: rgb(251, 178, 9);
}
.footer .main{
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-around;

}
.col  h4{
font-size:1.2rem ;
color: #fff;
margin-bottom: 25px;

position: relative;
}
.footer ul{
    list-style: none;
}
.col  li a{
    color: #3d3737;
    text-decoration: none;
    font-weight: 600;
}


  
  .col li a:hover {
    color:rgb(251, 178, 9); /* Color change on hover */
    font-size: 25px;
  }
  .col  h4::before{
    content: '';
    position: absolute;
    height: 2px;
 width: 50px;
 left: 0;
 bottom: -8px;
 background-color: rgb(251, 178, 9);
  }
  
  .col .social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .social a{
    font-size: 30px;
    color: #feeee7;
    
    
    
}
.social a i{
    background-color: rgb(251, 178, 9);
    width: 40px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  